USE [master]
GO
/****** Object:  Database [QLNS]    Script Date: 31/05/2018 4:45:32 CH ******/
CREATE DATABASE [QLNS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLNS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.PERCY\MSSQL\DATA\QLNS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLNS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.PERCY\MSSQL\DATA\QLNS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLNS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLNS]
GO
USE [QLNS]
GO
/****** Object:  Table [dbo].[tblBAOCAOCONGNO]    Script Date: 31/05/2018 4:45:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBAOCAOCONGNO](
	[machitietcongno] [int] NOT NULL,
	[thang] [datetime2](7) NULL,
	[makhachhang] [int] NOT NULL,
	[nodau] [int] NULL,
	[nophatsinh] [int] NULL,
	[nocuoi] [int] NULL,
 CONSTRAINT [PK_tblBAOCAONOCONG] PRIMARY KEY CLUSTERED 
(
	[machitietcongno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblBAOCAOTON]    Script Date: 31/05/2018 4:45:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBAOCAOTON](
	[machitietton] [int] NOT NULL,
	[thang] [datetime2](7) NULL,
	[masach] [int] NULL,
	[tondau] [int] NULL,
	[tonphatsinh] [int] NULL,
	[toncuoi] [int] NULL,
 CONSTRAINT [PK_tblBAOCAOTON] PRIMARY KEY CLUSTERED 
(
	[machitietton] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCHITIETPHIEUHOADON]    Script Date: 31/05/2018 4:45:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCHITIETPHIEUHOADON](
	[machitietphieuhoadon] [int] NOT NULL,
	[maphieuhoadon] [int] NOT NULL,
	[soluongban] [int] NULL,
	[masach] [int] NOT NULL,
 CONSTRAINT [PK_tblCHITIETPHIEUHOADON] PRIMARY KEY CLUSTERED 
(
	[machitietphieuhoadon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCHITIETPHIEUNHAP]    Script Date: 31/05/2018 4:45:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCHITIETPHIEUNHAP](
	[machitietphieunhap] [int] NOT NULL,
	[maphieunhap] [int] NOT NULL,
	[soluongnhap] [int] NULL,
	[masach] [int] NOT NULL,
 CONSTRAINT [PK_tblCHITIETPHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[machitietphieunhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblKHACHHANG]    Script Date: 31/05/2018 4:45:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblKHACHHANG](
	[makhachhang] [int] NOT NULL,
	[hotenkhachhang] [nvarchar](50) NULL,
	[diachi] [nvarchar](50) NULL,
	[dienthoai] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[sotienno] [int] NULL,
 CONSTRAINT [PK_tblKHACHHANG] PRIMARY KEY CLUSTERED 
(
	[makhachhang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPHIEUHOADON]    Script Date: 31/05/2018 4:45:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPHIEUHOADON](
	[maphieuhoadon] [int] NOT NULL,
	[ngaylaphoadon] [datetime2](7) NULL,
	[makhachhang] [int] NOT NULL,
 CONSTRAINT [PK_tblPHIEUHOADON] PRIMARY KEY CLUSTERED 
(
	[maphieuhoadon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPHIEUNHAP]    Script Date: 31/05/2018 4:45:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPHIEUNHAP](
	[maphieunhap] [int] NOT NULL,
	[ngaynhap] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_tblPHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[maphieunhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPHIEUTHUTIEN]    Script Date: 31/05/2018 4:45:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPHIEUTHUTIEN](
	[maphieuthu] [int] NOT NULL,
	[makhachhang] [int] NULL,
	[sotienthu] [int] NULL,
 CONSTRAINT [PK_tblPHIEUTHUTIEN] PRIMARY KEY CLUSTERED 
(
	[maphieuthu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSACH]    Script Date: 31/05/2018 4:45:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSACH](
	[masach] [int] NOT NULL,
	[tensach] [nvarchar](50) NULL,
	[theloai] [nvarchar](50) NULL,
	[tacgia] [nvarchar](50) NULL,
	[dongia] [int] NULL,
	[soluongton] [int] NULL,
 CONSTRAINT [PK_tblSACH] PRIMARY KEY CLUSTERED 
(
	[masach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTHAMSO]    Script Date: 31/05/2018 4:45:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTHAMSO](
	[soluongnhapitnhat] [int] NULL,
	[soluongtontoidatruocnhap] [int] NULL,
	[sotiennotoida] [int] NULL,
	[soluongtonsautoithieu] [int] NULL,
	[sudungquydinh4] [bit] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblBAOCAOTON]  WITH CHECK ADD  CONSTRAINT [FK_tblBAOCAOTON_tblSACH] FOREIGN KEY([masach])
REFERENCES [dbo].[tblSACH] ([masach])
GO
ALTER TABLE [dbo].[tblBAOCAOTON] CHECK CONSTRAINT [FK_tblBAOCAOTON_tblSACH]
GO
ALTER TABLE [dbo].[tblCHITIETPHIEUHOADON]  WITH CHECK ADD  CONSTRAINT [FK_tblCHITIETPHIEUHOADON_tblPHIEUHOADON] FOREIGN KEY([maphieuhoadon])
REFERENCES [dbo].[tblPHIEUHOADON] ([maphieuhoadon])
GO
ALTER TABLE [dbo].[tblCHITIETPHIEUHOADON] CHECK CONSTRAINT [FK_tblCHITIETPHIEUHOADON_tblPHIEUHOADON]
GO
ALTER TABLE [dbo].[tblCHITIETPHIEUHOADON]  WITH CHECK ADD  CONSTRAINT [FK_tblCHITIETPHIEUHOADON_tblSACH] FOREIGN KEY([masach])
REFERENCES [dbo].[tblSACH] ([masach])
GO
ALTER TABLE [dbo].[tblCHITIETPHIEUHOADON] CHECK CONSTRAINT [FK_tblCHITIETPHIEUHOADON_tblSACH]
GO
ALTER TABLE [dbo].[tblCHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_tblCHITIETPHIEUNHAP_tblPHIEUNHAP] FOREIGN KEY([maphieunhap])
REFERENCES [dbo].[tblPHIEUNHAP] ([maphieunhap])
GO
ALTER TABLE [dbo].[tblCHITIETPHIEUNHAP] CHECK CONSTRAINT [FK_tblCHITIETPHIEUNHAP_tblPHIEUNHAP]
GO
ALTER TABLE [dbo].[tblCHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_tblCHITIETPHIEUNHAP_tblSACH] FOREIGN KEY([masach])
REFERENCES [dbo].[tblSACH] ([masach])
GO
ALTER TABLE [dbo].[tblCHITIETPHIEUNHAP] CHECK CONSTRAINT [FK_tblCHITIETPHIEUNHAP_tblSACH]
GO
ALTER TABLE [dbo].[tblPHIEUHOADON]  WITH CHECK ADD  CONSTRAINT [FK_tblPHIEUHOADON_tblKHACHHANG] FOREIGN KEY([makhachhang])
REFERENCES [dbo].[tblKHACHHANG] ([makhachhang])
GO
ALTER TABLE [dbo].[tblPHIEUHOADON] CHECK CONSTRAINT [FK_tblPHIEUHOADON_tblKHACHHANG]
GO
ALTER TABLE [dbo].[tblPHIEUTHUTIEN]  WITH CHECK ADD  CONSTRAINT [FK_tblPHIEUTHUTIEN_tblKHACHHANG] FOREIGN KEY([makhachhang])
REFERENCES [dbo].[tblKHACHHANG] ([makhachhang])
GO
ALTER TABLE [dbo].[tblPHIEUTHUTIEN] CHECK CONSTRAINT [FK_tblPHIEUTHUTIEN_tblKHACHHANG]
GO
USE [master]
GO
